## OS Things
.DS_Store

## Package Manger
node_modules
yarn-error.log


## SvelteKit
/build
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

## Environment
.env
.env.*
!.env*.example

## App
$houdini
